<%= form_with(model: list, class: 'ms-auto') do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group d-flex">
    <%= form.text_field :description, class: 'form-control me-2', placeholder: 'Add New List Item', aria: { label: 'Add New List Item' } %>
    <%= form.submit "Add To-Do item", class:'btn btn-outline-success' %>
  </div>
<% end %>
